.container {
  max-width: 620px;
  border-radius: 12px;
  border: 0.4rem solid #475384;
  background-color: #181a1d;
}

.input_token:hover {
  background-color: #0056b3;
}

.center {
  display: flex;
  justify-content: center;
}

.container_text {
  margin: 10px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0.8rem;
  border-radius: 12px;
  background-color: #242629;
  border: 1px solid #475384;
}

.container_text:hover {
  background-color: #0056b3;
}

.container_margin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  flex: 1;
  padding: 0 1rem;
}
.input_container_column {
  padding: 0.4rem 0.6rem;
  border-radius: 12px;
  min-width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #242629;
  display: flex;
  justify-content: space-between;
  border: 1px solid #475384;
}

.amount_balance {
  font-size: 12px;
  color: #bdb8b8;
  display: flex;
  justify-content: center;
}

.amount_inputs {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0.2rem;
  border-radius: 12px;
  background-color: #242629;
  border: 1px solid #475384;
}

.token_inputs {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0.2rem;
  border-radius: 12px;
  background-color: #242629;
  border: 1px solid #475384;
}

.input_token_a {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  padding: 0.2rem;
  border-radius: 12px;
  background-color: #242629;
  border: 1px solid #475384;
}

.text_bold {
  font-weight: bold;
}
.text_space_left_bd {
  padding-left: 15px;
  font-weight: bold;
}

.text_space {
  padding-right: 5px;
}

.text_space_left_sm {
  padding-left: 10px;
  font-weight: bold;
}

.text_space_right {
  padding-right: 50px;
}

.text_space_right_12 {
  margin-top: -5px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  font-size: 9px;
  color: #bdb8b8;
}

.text_center {
  padding: 0.2rem;
  color: #bdb8b8;
  font-size: 9px;
  display: flex;
  justify-content: center;
}

.text_space_left {
  padding-left: 70px;
}

.text_space_left_xl {
  padding-left: 215px;
}

.space_left_xl {
  padding-left: 210px;
}

.imageInvert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.imageInvertToggle {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border-radius: 100%;
  border: 2px solid #000;
  display: inline-flex;
  margin-top: -23px;
  margin-bottom: -23px;
  cursor: pointer;
}

.imageInvertToggle_sm {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border-radius: 25%;
  border: 2px solid #000;
  display: inline-flex;
  cursor: pointer;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.input_token_space {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  padding: 0.2rem 0.2rem;
  color: #fff;
  background-color: #242629;
  cursor: pointer;
}

.input_token_space:hover {
  background-color: #0056b3;
}

.token_list_symbol {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  background-color: #242629;
  max-width: 300px;
  max-height: 30px;
  padding: 0.2rem 0.6rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.token_list_symbol_space {
  margin-right: 10px;
  margin-left: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav {
  border-radius: 12px;
  background-color: #242629;
  max-width: 60px;
  padding: 0.4rem 0.6rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 550;
}

.nav_right {
  border-radius: 12px;
  background-color: #242629;
  max-width: 60px;
  padding: 0.4rem 0.6rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: right;
}

.nav:hover {
  background-color: #007bff;
}

.nav_right:hover {
  background-color: #007bff;
}

.container_data {
  border-top: 1px solid #475384;
  padding: 0.4rem 0.6rem;
}

.input_container {
  padding: 0.4rem 0.6rem;
  border-radius: 12px;
  min-width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input_container_sm {
  border-radius: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.input_container_solo {
  padding: 0.4rem 0.6rem;
  border-radius: 12px;
  background-color: #242629;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.input_amount {
  max-width: 180px;
  display: flex;
  margin-right: 2px;
  padding: 0.2rem 0.8rem;
  color: #fff;
  background-color: #242629;
  border-radius: 12px;
}

.input_token {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 4.9rem;
  display: flex;
  padding: 0.2rem 0.8rem;
  color: #fff;
  background-color: #242629;
  cursor: pointer;
  border-radius: 12px;
}

.input_token:hover {
  background-color: #0056b3;
}

.get_amount {
  display: flex;
  margin-right: 2px;
  padding: 0.2rem 0.8rem;
  color: #fff;
  background-color: #242629;
}

.button_field {
  padding: 0.2rem 1rem;
  border-radius: 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button_field_sm {
  border-radius: 12px;
  padding: 0.2rem 0.2rem;
  margin-left: 2px;
  border: #0056b3;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: small;
}

.button_container {
  display: flex;
  justify-content: center;
  padding: 0.4rem 0.6rem;
}

.button_container_sm {
  display: flex;
  justify-content: center;
  padding: 0.1rem 0.1rem;
}
.button_container_sm_custom {
  display: flex;
  justify-content: center;
  padding: 0.1rem 0.1rem;
  margin-bottom: 0.4rem;
}

.button_field:hover {
  background-color: #0056b3;
}

.pool_balance {
  font-size: 12px;
  color: #bdb8b8;
}

.amount_balance_small {
  font-size: 15.5px;
  color: #bdb8b8;
  display: flex;
  justify-content: center;
}

.token_approve_amount {
  font-size: 15.5px;
  color: #bdb8b8;
  display: flex;
}

.token_b {
  display: flex;
}

/* Media Queries */
@media (max-width: 48em) {
  /* Using em for media query */
  .container {
    border: 0.2rem solid #42518d;
    max-width: 420px;
  }
  .text_space_left_xl {
    padding-left: 180px;
  }
  .text_space_left {
    padding-left: 35px;
  }
}

@media (max-width: 36em) {
  /* Using em for media query */
  .container {
    border: 0.1rem solid #42518d;
    max-width: 360px;
  }
  .text_space_left_xl {
    padding-left: 180px;
  }
  .text_space_left {
    padding-left: 35px;
  }
}
