.card {
  margin: 1rem;
  padding: 0.1rem;
  background-color: #141618;
  border: 1px solid #141618;
  font-size: 0.7rem;
}

.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_footer {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: fit-content;
  padding: 0.4rem 0.6rem;
  border-radius: 12px;
  background-color: #050506;
  border: 1px solid #475384;
}

.image_invert_center {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 1rem;
  margin-right: 1rem;
}
