.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.spinner_icon {
  animation: spin 1s linear infinite; /* Adjust animation duration */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.margin_med {
  margin: 0.5rem;
}

.connectorButton {
  padding: 0.3rem 0.5rem;
}

.spinner_padding {
  padding: 6px;
}

.button_login {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  position: static;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  min-width: 100px;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #2196f3;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  padding: 0.1rem 1rem;
}

.button_login:hover {
  background-color: #007bff;
}

.logout {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  position: static;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  min-width: 70px;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #2196f3;
  padding: 0.1rem 1rem;
}

.logout:hover {
  background-color: #0e2661;
}

.text_flex {
  position: static;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  min-width: 200px;
  justify-content: center;
  padding-bottom: 6px;
  padding-top: 8px;
  padding-right: 6px;
  padding-left: 12px;
}

/* smaller than min-width */
.connectButtons {
  padding: 0.9rem 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  z-index: 1000;
  overflow-y: hidden;

  border-radius: 1rem;
  max-width: 300px;
  max-height: 240px;
  background-color: #090909;
  border: 4px solid #202021;
  box-shadow: 10px 15px 12px rgba(156, 34, 34, 0.1);
}

.connectButtons:hover {
  overflow-y: scroll;
}

.pop_out {
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
