.container {
  background-color: #0d0d10;
  color: white;
  padding: 1rem;
}

.space_border {
  margin-top: 1.2rem;
}

.text_centered {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.input_amount {
  min-width: 5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #475384;
  background-color: #181a1d;
}

.text_padding {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.text_padding_sm {
  padding: 0.5rem;
  font-size: small;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.text_button {
  padding: 0.5rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}
.text_button_color {
  padding: 0.5rem;
  border-radius: 12px;
}

.text_button:hover {
  background-color: #2196f3;
}

.text_button_color:hover {
  background-color: #2196f3;
}

.text_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(194, 187, 187);
  border-bottom: 1px solid #ccc;
}

.text_center {
  justify-content: center;
  display: flex;
  padding: 0.5rem;
}

.text_style_border {
  margin-top: 0.9rem;
  margin-bottom: 0.6rem;
  justify-content: center;
  display: flex;
  padding: 0.2rem 0.3rem;
  border-radius: 12px;
  border: 1px solid #2196f3;
}

.midText {
  box-sizing: border-box;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-family: monospace;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 110%;
  display: block;
  padding: 0.2rem 0.3rem;
}
.topText {
  box-sizing: border-box;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 22px;
  padding: 0.2rem 0.3rem;
}

.top_text_link {
  margin: 1rem;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 22px;
  padding: 0.5rem;
  border-bottom: 1px solid #2196f3;
}

.top_text_link:hover {
  border-radius: 12px;
  border: 1px solid #2196f3;
}

.midText_sm {
  box-sizing: border-box;
  color: var(--white);
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
  display: block;
  padding: 0.3rem 0.3rem;
}

/*
 when screens are too small use these settings 

  backdrop-filter: blur(20px);
*/
.p_styled {
  margin-top: 2rem;
  position: static;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  min-width: 200px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #2196f3;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  padding-bottom: 6px;
  padding-top: 8px;
}

.p_styled_button {
  position: static;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  min-width: 200px;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #2196f3;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  padding-bottom: 6px;
  padding-top: 8px;
  padding-right: 6px;
  padding-left: 12px;
}

.toggle_network {
  color: white;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #475384;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  font-size: 1rem;
  padding: 0.5rem;
}

.toggle_network:hover {
  font-size: 1.2rem;
}

/* Media Queries */
@media (max-width: 48em) {
  /* Using em for media query */
  .text_button {
    padding: 0.4rem; /* Adjusting padding with rem */
    font-size: 1.4rem;
  }
  .text_heading {
    border: none;
  }
  .midText {
    padding: 0.1rem 0.2rem;
    font-size: 2.2rem;
  }
}

@media (max-width: 36em) {
  /* Using em for media query */
  .text_button {
    padding: 0.2rem; /* Adjusting padding with rem */
    font-size: 1rem;
  }
  .text_heading {
    border: none;
  }
  .midText {
    padding: 0rem 0.1rem;
    font-size: 2rem;
  }
}
