.tradingView {
  display: flex;
}
/* 100% view window to prevent the chart scrol bar from activating*/
.container_positioning {
  z-index: 40;
  width: 99vw;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  position: absolute;
  left: 0;
}

.chart {
  overflow-y: hidden;
  overflow-x: hidden;
  border: 2px solid #120247;
}

.text_container {
  max-width: 500px;

  margin-top: 25px;
  color: aliceblue;
}

.text_title {
  font-size: 2rem;
  max-width: 200px;
}

.text_body {
  padding-left: 40px;
  font-size: 2rem;
  font-weight: 400;
  max-width: 180px;
  border-bottom: 3px solid #120247;
}

.tradingViewText {
  font-size: 1rem;
}
