/** reomve border on chart container*/
.chart {
  overflow-y: hidden;
  overflow-x: hidden;
}

.tradingView {
  display: flex;
  width: 100%;
}
/* 100% view window to prevent the chart scrol bar from activating*/
.container_positioning {
  z-index: 2;
  width: 99vw;

  height: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  position: absolute;
  left: 0;
}

.text_container {
  max-width: 380px;
  width: 99vw;
  height: 80vh;
}

.text_title {
  max-width: 200px;
  font-weight: 600;
}

.text_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  height: 30px;
  max-width: 14rem;
}
.text_highlight {
  color: #d7de0a;
}
/** #29ff94; **/
