.navList {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100%;
  margin-right: 10px;
  /* Ensuring the container has a defined height for vertical alignment */
}
/* 

Hide scroll bars

overflow: hidden; 
overflow-y: scroll;
overflow-x: hidden;
*/

.imageInvert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
