.container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #141618;
  border: 1px solid #475384;
  max-width: 400px;
}

.amount_title {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.amount_eth {
  margin-left: 1rem;
  color: rgb(194, 187, 187);
  margin-bottom: 0.2rem;
}

.container_sm {
  display: flex;
  justify-content: center;

  text-align: center;
  padding: 1rem;
}

.text_style_bottom {
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #2196f3;
  max-width: 400px;
}

.text_style_bottom_sm {
  max-width: 400px;
  border-bottom: 1px solid #2196f3;
}

.text_style {
  border-radius: 12px;
  padding: 0.6rem 1rem;
  border: 1px solid #2196f3;
}

.text_style_bottom:hover {
  padding: 0.6rem 1rem;
  border-radius: 12px;
  border: 1px solid #2196f3;
}

.grid_container {
  margin-top: 1rem;
  border-radius: 12px;
  background-color: #141618;
  border: 1px solid #475384;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 10px;
}

.grid_item {
  max-width: 400px;
  margin-top: 1rem;
  background-color: #141618;
  border-radius: 12px;
  border: 1px solid #475384;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
}

.dropdown {
  padding: 0.6rem 1rem;
}

.dropdown_bd {
  border: 3px solid #475384;
  background-color: #141618;
}

.image_invert_center {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 1rem;
  margin-right: 1rem;
}
