/*   Todo : elimate the border radius within the nav button 
*    border-radius: 0;
* 
*
*/

.active_link {
  border-bottom: 1px solid #d7de0a;
}

.not_active_link {
  border: 1px solid #1a191c;
}

/** mb-2 mt-4 text-lg font-medium **/
.metaport {
  font-size: 1.3rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  padding-bottom: 1rem;
}

.icon_skl {
  padding-bottom: 1rem;
}
