.text_align {
  padding: 1rem;
}

.text_top {
  box-sizing: border-box;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 22px;
  padding: 0.3rem 0.3rem;
}

.text_title {
  box-sizing: border-box;
  margin: 0.67em 0;
  color: var(--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: monospace;
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  display: block;
  padding: 0.3rem 0.3rem;
}

.text_sm {
  font-size: 0.9rem;
  margin: 0.67em 0;
  text-align: center;
  padding: 0.3rem 0.3rem;
}

.container {
  width: auto;
  border-radius: 12px;
  border: 4px solid #12194978;
  background-image: linear-gradient(
    to top,
    rgba(10, 14, 39, 0.47),
    transparent
  );
}

.container_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  margin: 60px;
  flex: 1;
  box-sizing: border-box;
  padding: 1rem 1rem;
  text-align: center;
  border-radius: 12px;
}

.container_nft {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  padding: 1rem 1rem;
  margin: 1rem;
  background-color: #040404;
  border: 1px solid #d7de0a;
  max-width: 350px;
}

.text_title_nft {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0.5rem 2rem;
}

.button_nft {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #2196f3;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.button_nft:hover {
  background-color: #0056b3;
}

.textDesc {
  text-align: center;
  padding: 0.2rem 0.3rem;
  font-size: 12px;
  margin: 0.2rem 0.3rem;
}

.text_grey {
  border: rounded;
  color: rgb(194, 187, 187);
  border-radius: 6px;
  text-align: center;
  font-size: 0.8rem;
}

.text_white {
  border: rounded;
  color: floralwhite;
  border-radius: 6px;
  text-align: center;
  font-size: 0.9rem;
}

.image_align {
  border: rounded;
  border-radius: 24px;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
}

.balance {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #efefef;
}

.p_styled_button {
  position: static;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  min-width: 200px;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #2196f3;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  padding-bottom: 6px;
  padding-top: 8px;
  padding-right: 6px;
  padding-left: 12px;
}

.p_styled_button:hover {
  background-color: #2196f3;
}
