.container_margin {
  width: 500px;
  display: flex;
  justify-content: center;
}

.container_flex {
  margin-top: 2rem;
  position: static;
  left: 0;
  top: 0;
  display: flex;

  min-width: 200px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #2196f3;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  padding-bottom: 6px;
  padding-top: 8px;
}

.container_flex_tokens {
  min-width: 200px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #2196f3;
  background-image: linear-gradient(
    to bottom,
    rgba(82, 86, 109, 0.47),
    transparent
  );
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.text_border_bottom {
  margin-top: 2rem;
  display: flex;
  text-align: left;
  border-bottom: 1px solid #475384;
}

.text_center {
  justify-content: center;
  display: flex;
  padding: 0.2rem 0.3rem;
  margin: 1rem;
}

.text_sm {
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  text-align: left;
  border-radius: 12px;
  color: #bdb8b8;
}

.text_title {
  box-sizing: border-box;
  margin: 0.67em 0;
  color: var(--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: monospace;
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  display: block;
  padding: 0.3rem 0.3rem;
}

.input_token_address {
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
  padding: 0.4rem 0.6rem;

  border: 1px solid #475384;
  background-color: #181a1d;
}

.input_address {
  margin: 10px;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  width: 500px;

  border: 1px solid #475384;
  background-color: #111317;
}

.input_address:hover {
  background-color: #007bff;
}

.button_presale {
  padding: 0.4rem 0.6rem;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid #2196f3;
  font-size: 1.8rem;
}

.button_presale:hover {
  background-color: #007bff;
}

.box {
  display: block;
}

.dropdownmenu {
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  font-size: 0.8rem;
  padding: 0.8rem;
  color: #bdb8b8;
  border-radius: 12px;
  background-color: #181a1d;
  border: 1px solid #475384;
}

.dropdownmenu_item {
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}
.dropdownmenu_item_image {
  height: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.dropdownmenu_item_balance {
  height: 2rem;
  display: flex;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.4rem 1rem;
  border-radius: 12px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
