.footer {
  height: 22px;
  z-index: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #141618;
  border-top: 1px solid #5a80b4;
  font-size: 0.8rem;
  font-weight: 500;
}

.flex {
  display: flex;
}

.block {
  display: inline-block;
  margin-left: 1.3rem;
  padding-top: 2px;
}

.tick_symbol {
  color: #ffffff;
  font-weight: 300;
}

.tick_price {
  font-family: sans-serif;
  color: #848e9c;
  font-weight: 400;
  padding-left: 4px;
  font-size: 0.8rem;
}

.tick_change {
  color: #044362;
  font-weight: 500;
  padding-left: 4px;
}
