/** inspired by CEX

#5a80b4;
#475384;
*/
.footer {
  height: 22px;
  z-index: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #141618;
  border-top: 1px solid #475384;
  font-size: 0.8rem;
}

.flex {
  display: flex;
}

.block {
  display: inline-block;
  margin-left: 1.3rem;
  padding-top: 2px;
}

.tick_symbol {
  font-family: sans-serif;
  color: #93eee8;
  font-weight: 600;
}

.tick_price {
  font-family: sans-serif;
  color: #bdb8b8;
  font-weight: 400;
  padding-left: 4px;
}

.tick_change {
  color: #044362;
  font-weight: 500;
  padding-left: 4px;
}
