/** inspired by CEX

#5a80b4;
#475384;
*/
.footer {
  height: 22px;
  z-index: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #141618;
  border-top: 1px solid #475384;
  font-size: 0.8rem;
}

.datafeed {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5rem;
  padding-right: 0.1rem;
}
/*
adjust fotter get started dashboard 
*/
.dashboard {
  min-width: 14rem;
  max-width: 14rem;

  overflow: hidden;
  padding-left: 1rem;
  padding-right: 0.1rem;
}

.flex {
  display: flex;
}

.flex_more {
  display: flex;
  flex: 1;
}

.block {
  display: inline-block;
  margin-left: 1.3rem;
  padding-top: 2px;
}

.tick_symbol {
  font-family: sans-serif;
  color: #fcfcfc;
  font-weight: 600;
  font-size: 12px;
  border-left: 2px solid #475384;
  padding-left: 4px;
}

.tick_price {
  font-family: sans-serif;
  color: #bdb8b8;
  font-weight: 400;
  padding-left: 4px;
  font-size: 10px;
}

.tick_change {
  color: #044362;
  font-weight: 500;
  padding-left: 4px;
  border-right: 1px solid #475384;
}
