.midText {
  box-sizing: border-box;
  margin: 0.67em 0;
  color: var(--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: monospace;
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  display: block;
  padding: 0.3rem 0.3rem;
}

.container_center {
  margin: 1rem 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  background-color: #121111;
  border: 1px solid #475384;
}

.text_style_border {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
  border-radius: 12px;
}
