.container {
  width: auto;
  padding: 1rem;
}

.container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.input {
  border: 1px solid #475384;
  background-color: #181a1d;
  max-width: 10rem;
  padding: 1rem;
  border-radius: 12px;
}

.input_button {
  border: 1px solid #475384;
  background-color: #181a1d;
  max-width: 10rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 14px #475384;
}

.input_button:hover {
  background-color: #475384;
}

.menu {
  color: #8f8f8f;
  background-color: #181a1d;
  border: 1px solid #475384;
}

.button_column {
  border: 1px solid #475384;
  max-width: 10rem;
  margin-left: auto;
  padding: 1rem;
}

.table {
  border-radius: 12px;
  border: 1px solid #475384;
  padding: 0.5rem;
}

.table_header {
  background-color: #181a1d;
  color: #f4f4f4;
  padding: 0.3rem;
  border-radius: 12px;
  border-bottom: 2px solid #181a1d;
  font-size: 0.8rem;
}

.table_body {
  border: 1px solid #181a1d;
  color: #b4b0b0;
  font-size: 0.8rem;
}

.table_body:hover {
  color: #f4f4f4;
}
