.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px; /* Equal padding on left and right */

  width: 100%;
  min-height: 100vh; /* Full height of the viewport */
  overflow-y: auto; /* Scrollbar only shows if overflow needed */
  margin: 0; /* Remove default margin */
  padding-top: 52px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* components/Header.module.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
